<ul>
  {{album-form action="createAlbum"}}
  {{#each sortedAlbums as |album|}}
    <li>
      <a href="#" class="album">
        {{album.artist}} - {{album.title}}
      </a>
      ({{album.releasedOn}})
      <a href="#" class="delete" {{action "deleteAlbum" album}}>
        x
      </a>
    </li>
  {{/each}}
</ul>
